@tailwind base;
@tailwind components;
@tailwind utilities;

.restaurant-name-overlay {
  position: absolute;
  transform: translate(-50%, -100%);
  white-space: nowrap;
  pointer-events: none;
  z-index: 1;
}